<h1>Profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>

      <%= f.label :profile %>
      <%= f.text_field :profile %>

      <%= f.label :area %>
      <%= f.text_field :area %>

      <%= f.submit "Setting Profile", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>